@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans&family=Montserrat:wght@300&family=Open+Sans&family=Poiret+One&family=Raleway:wght@200&family=Roboto:ital,wght@0,300;0,400;1,300&family=Ubuntu:ital,wght@0,300;1,300;1,500&family=Urbanist:ital,wght@0,200;1,500&family=Zilla+Slab:wght@300&display=swap");
/* topbar */

#topbar{
    font-family:'Urbanist', sans-serif;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    align-items: center;
    margin: 0px;
    padding-top: 0px;
    height: 65px;
    border-bottom: 1.5px solid;
    border-color: coral;
    color:black;
    position: fixed;
    width: 100%;
    background-color: rgb(193, 213, 171);
}

body{
    background-color: rgb(230, 245, 220);
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

#topbar ul{
    display:flex;
    font-size: 17px;
}

#topbar ul li{
    margin-right: 30px;
    list-style: none;
    border-left: solid thin coral;
    padding-left: 30px;
}

#topbar a{
    color:black;
    text-decoration: none;
}

#topbar a:hover{
    color: coral;
    text-shadow: 1px 1px rgb(193, 213, 171);
}

#topbar h1{
    padding-left: 30px;
    font-size: 35px;
    letter-spacing: 4px;
    font-family: 'Raleway', sans-serif;
}

.hamburger {
    display:none;
}


/* introduction */

#introduction{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    text-align: center;
}

#introduction img{
    width: auto;
    height: 70vh;
    border-radius: 5px;
    border: thin solid #228B22;
    margin-top: 100px;
}

/* #introduction img:hover{
    border: 4px solid #228B22;
} */

#introduction h2{
    font-size: 70px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

#introduction p{
    font-size: 20px;  
}
.bold{
    font-style: italic;
    font-weight: bold;
    color:coral;
}

/* about */

#about{
    height: 100vh;
    border-top: thin solid coral;
    border-bottom: thin solid coral;
    flex-direction: column;
    display: flex;
    justify-content: center;
    gap: 1px;
    padding-bottom: 15px;
}


#about h1{
    font-size: 100px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

#about a{
    color: #228B22;
    align-self: center;
    text-decoration: none;
    margin-bottom: 40px;
}

#about a:hover{
    color: coral;
    text-shadow: 1px 1px rgb(193, 213, 171);
    font-size: 20px;
}


#about p{
    font-size: 20px;
    margin: 50px 100px;
}

/* projects */


#projects-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;

}
#projects article{
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: justify;
}
#projects div p{
    text-align: justify;
}
#projects div{
    padding-bottom: 10px;
}

#projects h1{
    font-size: 80px;
    margin-top:100px;
    margin-bottom: 70px;
    font-family: 'Raleway', sans-serif;
}
#projects h2{
    font-size: 30px;
}

#projects{
    border-top: thin solid coral;
    border-bottom: thin solid coral;
    align-items: center;
    text-align: center;
    margin: 0 20px;
}

#projects a{
    color: #228B22 ;
    text-decoration: none;
}

#projects a:hover{
    color: coral;
    text-shadow: 1px 1px rgb(193, 213, 171);
    font-size: 20px;
}

video{
    width: 500px;
}
#appVideo video{
    width: 200px;
}
#appVideo video:hover{
    width: 250px;
    border: solid #228B22;
}

video:hover{
    width: 600px;
    border: solid #228B22;
}

/* skills */

#skills{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2px;
    justify-items: center;
    margin-bottom: 100px;
}

#skills-section{
    border-top: thin solid coral;
    border-bottom: thin solid coral;
    height: 100vh;
    padding-bottom: 50px;
}

#skills-section h1{
    margin-top: 100px;
    font-family: 'Raleway', sans-serif;
}

#skills ul li{
    list-style: none;
    align-items: center;
    padding-bottom: 30px;
}
.list-skills{
    border: thin solid black;
    padding-right:40px;
    padding-left: 40px;
    border-right:hidden;
    border-bottom: hidden;
}

#skills ul li:hover{
    text-shadow: 0.5px 0.5px #228B22 ;
}

#skills ul{
    padding: 0;
}


#skills-section h1{
    font-size: 80px;
    margin-top: 80px;
    text-align: center;
}

#skills-section h2{
    font-size: 30px;
}

/* contact */


#contact{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mail{
    padding-right: 20px;
}

#mail a{
    text-decoration: none;
    color: black;
}

#mail a:hover{
    color:coral;
    text-shadow: 1px 1px rgb(193, 213, 171);
}

#contact h1{
    font-size: 90px;
    margin:0;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 50px;
    font-family: 'Raleway', sans-serif;
}

.social-media img{
    width: 40px;
}

#social-media img{
    width: 25px;
}

#logoLinekdin img{
    width: 10px;
}
#message{
    height: 200px;
}

#contact-left{
    text-align: center;
    font-size: 25px;
    margin-bottom: 50px;
}

#contact ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    align-items:flex-start ;
}

#contact ul li{
    padding-top: 35px;
}

.social-media, #social-media{
    display: flex;
    align-items: center;
    gap:3px
}

.social-media a, #social-media a{
    text-decoration: none;
    color: black;
}
.social-media a:hover, #social-media a:hover{
    color: coral;
    text-shadow: 1px 1px rgb(193, 213, 171);
}

#contact ul li p{
    margin: 0;
}


/* footer */

footer{
    background-color: rgb(193, 213, 171);
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

footer.p{
    margin: 0;
}




@media all and (max-width:980px){
    .hamburger {
        position: relative;
        display: inline-block;
        margin-right: 50px;
    }
    .hamburger-content {
        display: none;
        position: absolute;
        bottom: -75px;
        left: -30px;
        z-index:1;
        background-color: rgb(193, 213, 171);
        font-size: 15px;
        list-style: none;
    }

    .hamburger:hover .hamburger-content {
        display: block;
      }
    .hamburger span {
        transition: transform .5s;
      -webkit-transition: -webkit-transform .5s;
        display: block;
        transform: rotate(90deg);
    }
    .hamburger:hover span {
        transition: transform .5s;
      -webkit-transition: -webkit-transform .5s;
        display: inline-block;
        transform: rotate(180deg);
    }
    #top ul{
        display:none;
    }
    #top{
        justify-content:space-around;
        list-style:none;
    }
    #topbar h1{
        font-size: 30px;
    }
    #projects-grid{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        width: fit-content;
    }
    #about{
        height: fit-content;
}
    #projects article{
        height: fit-content;
        margin-bottom: 30px;
        width: fit-content;
    }
     
    
}

@media all and (max-width:670px){
    .hamburger {
        position: relative;
        display: inline-block;
    }
    .hamburger-content {
        display:none;
        position: absolute;
        left:-100px;
        z-index:1;
    }
    .hamburger:hover .hamburger-content {
        display: block;
    }
    .hamburger span {
        transition: transform .5s;
        -webkit-transition: -webkit-transform .5s;
        display: block;
        transform: rotate(90deg);
    }
    .hamburger:hover span {
        transition: transform .5s;
        -webkit-transition: -webkit-transform .5s;
        display: inline-block;
        transform: rotate(180deg);
    }
    #topbar h1{
        font-size: 30px;
    }
    #top ul{
        display:none;
    }
    #top{
        justify-content:space-around;
        list-style:none;
    }
    #others{
        display: none;
    }
    #skills-section{
        height: fit-content;
        justify-content: center;
    }
    
    #about{
        height: fit-content;
    }
    #about p{
        font-size: 15px;
    }
    #projects article{
        height: fit-content;
        margin-bottom: 30px;
    }
    #projects article p{
        width: fit-content;
    }
    #introduction img{
        display: none;
    }
    #appVideo video:hover{
        width: 150px;
        border: none;
    }
    #appVideo video{
        width: 150px;
    }
    video{
        width: 400px;
    }
    video:hover{
        width: 400px;
        border: none;
    }
    #contact h1, #skills-section h1, #projects h1, #about h1{
        font-size: 60px;
    }
    #introduction h2{
        font-size: 50px;
    }
    #projects article p, #projects div p{
        font-size: 15px;
    }
    #contact a, #contact p{
        font-size: 15px;
    }
    .social-media img{
        width: 20px;
    }
    #social-media img{
        width: 15px;
    }
    #projects{
        margin: 0;
        width: fit-content;
    }

    
}
@media all and (max-width:460px){
    #topbar h1{
        font-size: 20px;
    }
}


