/* topbar */

#topbar{
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    align-items: center;
    margin: 0px;
    padding-top: 0px;
    height: 65px;
    border-top: thick solid;
    border-bottom: thick solid;
    border-color: rgb(174, 156, 159);
    /* color: #716371; */
    color:black;
    position: fixed;
    width: 100%;
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#topbar ul{
    display:flex;
    font-size: 17px;
}

#topbar ul li{
    margin-right: 30px;
    list-style: none;
    border-left: solid thin #716371;
    padding-left: 30px;
}

#topbar a{
    color:black;
    text-decoration: none;
}

#topbar a:hover{
    color: #716371;
}


/* introduction */

#introduction{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
}
#introduction img{
    width: auto;
    height: 70vh;
    border-radius: 5px;
    border: thin solid pink;
}

#introduction h2{
    font-size: 70px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}

#introduction p{
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}

/* about */

#about{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    height: 100vh;
    border-top: thin solid #716371;
    border-bottom: thin solid #716371;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

#about-content{
    display: flex;
    align-items: center;
}

#about h1{
    font-size: 100px;
    padding-right: 40px;
    /* float: left; */
}

#about button{
    background-color: #716371;
    color: antiquewhite;
    border: solid thin;
    width: 120px;
    height: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-self: center;
}


#about p{
    font-size: 20px;
}

/* projects */


#projects-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;

}
#projects article{
    height: 100vh;
    justify-self: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#projects h1{
    font-size: 80px;
    margin-top:5px;
}
#projects h2{
    font-size: 30px;
}

#projects{
    border-top: thin solid #716371;
    border-bottom: thin solid #716371;
    align-items: center;
    text-align: center;
}

video{
    width: 500px;
}

/* skills */

#skills{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2px;
    justify-items: center;
}

#skills-section{
    border-top: thin solid #716371;
    border-bottom: thin solid #716371;
    height: 100vh;
}

#skills ul li{
    list-style: none;
    align-items: center;
}

#skills ul{
    padding: 0;
}

#skills img{
    width: 40px;
}

#skills-section h1{
    font-size: 80px;
    margin-top: 5px;
    text-align: center;
}

/* contact */

#contact{
    display: flex;
    justify-content: space-around;
    height: 90vh;
}

#mail-location{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

#mail{
    padding-right: 20px;
}

#contact-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contact-right input{
    margin-bottom: 20px;
    width: 300px;
}

#contact-right button{
    width: 100px;
    height: 35px;
    align-self: center;
    background-color: #716371;
    color: antiquewhite;
    border: solid thin;
}

#contact h1{
    font-size: 90px;
    margin:0;

}
#contact img{
    width: 40px;
}

#message{
    height: 200px;
}

/* footer */

footer{
    background-color: #716371;
    color: antiquewhite;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer.p{
    margin: 0;
}


